<%!
    import pandas as pd
%>
<hr class="double">
<h2>Agenda</h2>
<br>
<table border="1" style="border:2px solid black;" id="table_sched">
    <thead>
        <tr style="border:2px solid black;">
            <th><strong>Day</strong></th>
            <th><strong>Morning 9:00-12:00</strong></th>
            <th><strong>Afternoon 13:00-16:00</strong></th>
        </tr>
    </thead>
    % for date, group in df_schedule.groupby(schedule_columns['date_column']):
        <%
            all_day_workshops = group[group[schedule_columns['duration_column']] == 'all day']
            morning_workshops = group[(group[schedule_columns['time_column']] == 'morning') & (group[schedule_columns['duration_column']] != 'all day')]
            afternoon_workshops = group[(group[schedule_columns['time_column']] == 'afternoon') & (group[schedule_columns['duration_column']] != 'all day')]
            max_workshops = max(len(morning_workshops), len(afternoon_workshops))
            total_rows = max_workshops + len(all_day_workshops)
        %>
        <tr style="border-top: 2px solid black;">
            <td rowspan="${total_rows}" style="border:2px solid black;vertical-align: middle;">
                <strong>${pd.to_datetime(date).strftime("%a %d.%m.%y")}</strong>
            </td>
            % for i in range(total_rows):
                % if i < len(all_day_workshops):
                    <td colspan="2">
                        <p style="margin-left:10px;">
                            <a href="#${str(all_day_workshops.iloc[i][schedule_columns['id_column']])}">${all_day_workshops.iloc[i][schedule_columns['title_column']]}</a>
                        </p>
                    </td>
                % else:
                    <td>
                        % if (i - len(all_day_workshops)) < len(morning_workshops):
                            <p style="margin-left:10px;">
                                <a href="${'#' + str(morning_workshops.iloc[i - len(all_day_workshops)][schedule_columns['id_column']]) if not morning_workshops.iloc[i - len(all_day_workshops)][schedule_columns['networking_event_column']] else network_url}">${morning_workshops.iloc[i - len(all_day_workshops)][schedule_columns['title_column']]}</a>
                            </p>
                        % endif
                    </td>
                    <td>
                        % if (i - len(all_day_workshops)) < len(afternoon_workshops):
                            <p style="margin-left:10px;">
                                <a href="${'#' + str(afternoon_workshops.iloc[i - len(all_day_workshops)][schedule_columns['id_column']]) if not afternoon_workshops.iloc[i - len(all_day_workshops)][schedule_columns['networking_event_column']] else network_url}">${afternoon_workshops.iloc[i - len(all_day_workshops)][schedule_columns['title_column']]}</a>
                            </p>
                        % endif
                    </td>
                % endif
            </tr>
            % if i < total_rows - 1:
                <tr>
            % endif
            % endfor
        % endfor
        <tr><!-- This is an empty row -->
		</tr>
    </tr>
</table>
<br>